{% extends 'base.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block body %}

<section class="gallery-block cards-gallery">

  <div class="container">

      <h1 class="titlePage">Galerie des films</h1>

    <div class="input-group mb-3" style="text-align: center; margin:auto">
      <form class="form-inline" action="{{ path('filter') }}" method="POST">
        <div class="input-group-prepend">
          <label class="input-group-text" for="category-select">Catégorie</label>
        </div>
        <select class="custom-select" id="icategory-select" name="filterpost">
          {% for category in categories %}

          <option value="{{ category.title }}">{{ category.title }}</option>

          {% endfor %}
        </select>
        <button class="btn btn-info my-2 my-sm-0">Filtrer</button>
      </form>
    </div><br>

    <div class="row">

      {% for film in films %}

      <link rel="stylesheet" href="../css/cards.css">
      
      <style>
        .film_back{{ film.id }} {
           background: url('../{{ film.background }}');
        }
      </style>

      <div class="movie_card" id="blocFilm" >
        <div class="info_section">
          <div class="movie_header">
            <img class="afficheFilm" src="../{{ film.image }}"/>
            <a href="{{path('show', {'id': film.id}) }}"><h1>{{ film.title }}</h1></a>
            <h4>{{ film.createdAt | date('Y')}}, {{ film.director }}</h4>
            <span class="minutes">{{ film.duration }}</span>
            <p class="type">{{film.category.title}}</p>
          </div>
          <div class="movie_desc">
            <p class="text">
              {{ film.content| truncate(300, false, '...') }}
            </p>
          </div>
        </div>
        <div class="blur_back film_back{{ film.id }}"></div>
      </div>

      {% endfor %}

    </div>

    <div class="col-md-6" style="margin: auto">
      {{ knp_pagination_render(films) }}
    </div>
  </div>

</section>

{% endblock %}